<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="DataService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            <security mode="None" />
          </binding>
        </basicHttpBinding>
      </bindings>
      
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
          <endpointBehaviors>
            <behavior name="TestExtJSApp.Services.DataServiceAspNetAjaxBehavior">
              <enableWebScript />
            </behavior>
          </endpointBehaviors>
        </behaviors>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true"  multipleSiteBindingsEnabled="true" />
      <services>
        <service name="TestExtJSApp.Services.DataService">
          <endpoint address="" behaviorConfiguration="TestExtJSApp.Services.DataServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="TestExtJSApp.Services.DataService" />
        </service>
      </services>
    </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="StartPage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
